//-----------
// STATUS BAR
//-----------
.status-bar {
  background-color: $color-neutral-highest;
  height: $v-unit / 4;
  position: relative;

  &__percentage {
    background-color: $color-primary;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
  }
}
//---------
// CONTROLS
//---------
.controls {
  background-color: $color-neutral-lowest;
  color: $color-neutral-highest;

  &__content {
    @include grid-row(false);
    justify-content: space-between;
    max-width: 100%;
  }

  &__item {
    @include grid-column(4, true);

    &--index,
    &--start {
      border-left: 1px solid $color-neutral-medium-low;
      border-right: 1px solid $color-neutral-medium-low;
    }

    &--start {
      background-color: $color-neutral-lower;
    }

    // &--demo,
    // &--material{}
  }

  &__item--next &__icon {
    @include media-query(medium) {
      order: 2;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $v-unit / 4 $h-unit / 2;
    text-decoration: none;

    @include media-query(medium) {
      flex-direction: row;
      font-size: em-calc(24);
      justify-content: center;
      padding: $v-unit / 2 $h-unit;
    }
  }

  &__icon {
    font-size: em-calc(16);
    margin: ($v-unit / 4) ($h-unit / 2);
  }

  &__text {
    font-size: em-calc(9);
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    margin: $v-unit / 6 0;
    text-transform: uppercase;
  }

  &__link:hover &__text {
    color: $color-neutral-medium-high;
  }
}
//-----
// MENU
//-----
.menu {
  $anim-duration: .2s;
  @include fixed-overlay;
  height: 0;
  overflow: hidden;
  position: fixed;
  // trick: allows to see the menu transitions when it is closing
  transition: width 0s, height 0s, visibility 0s $anim-duration;
  visibility: hidden;
  width: 0;

  .is-menu-opened & {
    height: auto;
    overflow: auto;
    transition: width 0s, height 0s;
    visibility: visible;
    width: auto;
  }

  &__header {
    @include larghetto;
    align-items: center;
    border-bottom: 2px solid $color-neutral-high;
    display: flex;
    justify-content: space-between;
    margin: 0 (-$h-unit);
    padding: 0;

    @include media-query('huge') {
      padding: $v-unit 0;
    }
  }

  &__index-button,
  &__close-button {
    align-items: center;
    background: none;
    border: 0;
    color: $color-neutral-low;
    cursor: pointer;
    display: flex;
    line-height: 1;
    margin: 0;
    padding: $v-unit $h-unit;
  }

  &__close-button-icon {
    line-height: 0;
    width: rem-calc(18);
  }

  &__overlay {
    @include fixed-overlay;
    background-color: rgba($color-neutral-lowest, .8);
    cursor: pointer;
    opacity: 0;
    transition: opacity ease-in-out $anim-duration;
    will-change: opacity;
    z-index: 0;
  }

  .is-menu-opened &__overlay {
    opacity: 1;
    transition-duration: $anim-duration;
  }

  &__content {
    @include fixed-overlay;
    overflow-y: auto;
    right: auto;
    z-index: 1;
  }

  &__content-wrapper {
    background-color: $color-neutral-highest;
    min-height: 100%;
    opacity: 0;
    padding: 0 $h-unit;
    transform: translateX(-100%);
    transition: transform ease-in-out $anim-duration, opacity ease-in-out $anim-duration;
    width: rem-calc(260);
    will-change: transform, opacity;

    @include media-query('large') {
      width: rem-calc(350);
    }

    @include media-query('huge') {
      width: rem-calc(450);
    }
  }

  .is-menu-opened &__content-wrapper {
    opacity: 1;
    transform: translateX(0);
    transition-duration: $anim-duration;
  }

  &__title {
    @include largo;
    align-items: center;
    color: $color-neutral-lowest;
    display: flex;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: ($v-unit * 1.5) 0;

    // @include media-query('huge') {
    //   @include larghissimo;
    // }
  }

  &__title-counter {
    color: $color-primary;
    line-height: 1;
    margin-right: $h-unit / 2;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 0 ($v-unit * 4);
  }

  &__item {
    border-bottom: 1px solid $color-neutral-higher;
    border-top: 1px solid $color-neutral-higher;
    margin: -1px 0;
    padding: ($v-unit / 2) 0;
    position: relative;

    @include media-query('huge') {
      padding: ($v-unit * .75) 0;
    }

    &::after {
      background-color: $color-primary;
      bottom: 0;
      content: '';
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: $h-unit / 4;
    }

    &.is-selected {
      background-color: $color-neutral-higher;
      margin: 0 (-$h-unit);
      padding-left: $v-unit;
      padding-right: $v-unit;

      &::after {
        display: block;
      }
    }

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:not(.is-selected):hover {
      background-color: lighten($color-neutral-highest, 4%);
    }
  }
}
