.index-page {

  &__content {
    margin: 0 auto;
    max-width: $layout-wrapper;
    padding: 0 $h-unit;
  }

  &__content-wrapper {
    @include grid-row();
    padding-bottom: $v-unit * 3;
  }

  &__content-main {
    @include grid-column((xxsmall: 12, medium: 8));
    @include media-query(medium) {
      padding-top: $v-unit;
    }
  }

  &__secondary {
    border-top: 4px solid $color-neutral-lower;
    padding: $v-unit * 1.5 0 $v-unit * 3;
  }

  &__secondary-wrapper {
    margin: 0 auto;
    max-width: $layout-wrapper;
    padding: 0 $h-unit;
  }

  &__side {
    @include grid-column((xxsmall: 12, medium: 4));

    @include media-query(medium) {
      padding-top: $v-unit;
    }
  }

  &__intro {
    padding: $v-unit * 2 0 0;
  }

  &__author {
    padding: $v-unit * 2 0 0;
  }

  &__controls {
    @include fixed-bottom;
    z-index: z(navbar);

    @include media-query(medium) {
      display: none;
    }
  }

  &__controls-buttons {
    $color-shadow: rgba($color-neutral-medium-low, .7);
    border-top: 1px solid $color-shadow;
    box-shadow: 0 0 rem-calc(10) $color-shadow;
  }
}
