@mixin responsive-typo($font-size) {
  @each $media, $value in $font-size {
    @include media-query($media) {
      font-size: em-calc($value);
    }
  }
}
// h1
@mixin larghissimo {
  $font-size: ('xxsmall': 30, 'medium': 34, 'large': 42);
  @include responsive-typo($font-size);
  font-weight: 700;
  line-height: 1.1;
}

// h2
@mixin grave {
  $font-size: ('xxsmall': 24, 'medium': 30, 'large': 36);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.1;
}

// h3
@mixin largo {
  $font-size: ('xxsmall': 20, 'medium': 24, 'large': 26);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.2;
}

// h4
@mixin lento {
  $font-size: ('xxsmall': 16, 'medium': 20, 'large': 22);
  @include responsive-typo($font-size);
  font-weight: bold;
  line-height: 1.2;
}

// h5
@mixin larghetto {
  $font-size: ('xxsmall': 16, 'medium': 18, 'large': 20);
  @include responsive-typo($font-size);
  font-weight: 500;
  line-height: 1.5;
}

// h6
@mixin adagio {
  $font-size: ('xxsmall': 15, 'medium': 18);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.5;
}

// p
@mixin andante {
  $font-size: ('xxsmall': 14, 'medium': 16);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.3;
}

@mixin moderato {
  $font-size: ('xxsmall': 12, 'medium': 14);
  @include responsive-typo($font-size);
  font-weight: 400;
  line-height: 1.3;
}

@mixin fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}