h1 {
  @include larghissimo;
}

h2 {
  @include grave;
}

h3 {
  @include largo;
}

h4 {
  @include lento;
}

h5 {
  @include larghetto;
}

h6 {
  @include adagio;
}

p {
  @include adagio;

  code {
    padding: rem-calc(3) $h-unit / 2;
    background-color: $color-neutral-lower;
    color: $color-neutral-high;
    line-height: 1;
    font-size: 90%;
    border-radius: 3px;
  }
}

small {
  @include moderato;
}

strong {
  font-weight: 700;
}

a {
  color: currentColor;
}

pre {
  background-color: $color-neutral-lower;
  padding: $v-unit $h-unit;
  overflow-y: auto;
}

