h1 {
  @include larghissimo;
  margin: $v-unit * 1.5 0;
}

h2 {
  @include grave;
  margin: $v-unit * 1.5 0;
}

h3 {
  @include largo;
  margin: $v-unit 0 ($v-unit / 2);
}

h4 {
  @include lento;
  margin: $v-unit / 2 0;
}

h5 {
  @include larghetto;
  margin: $v-unit / 2 0;
}

h6 {
  @include adagio;
  margin: $v-unit / 2 0;
}

p {
  @include adagio;
  margin: $v-unit / 2 0;

  code {
    @include andante;
    padding: rem-calc(3) $h-unit / 2;
    background-color: $color-neutral-lower;
    color: $color-neutral-high;
    line-height: 1;
    border-radius: 3px;
  }
}

small {
  @include moderato;
}

strong {
  font-weight: 700;
}

a {
  color: currentColor;
}

pre {
  @include andante;
  background-color: $color-neutral-lower;
  padding: ($v-unit * .75) $h-unit;
  overflow-y: auto;
}

