.layout {
  color: $color-neutral-high;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  &.is-menu-opened {
    overflow: hidden;
  }

  // &__page {
  // }

  &__footer {
    border-top: 1px solid $color-neutral-low;
    padding: $v-unit * 1.5 0 $v-unit * 6;

    @include media-query('medium') {
      border-top: 0;
    }
  }

  &__footer-wrapper {
    @include moderato;
    color: $color-neutral-medium-high;
    margin: 0 auto;
    max-width: $layout-wrapper;
    padding: 0 $h-unit;
  }
}
