.layout {
  color: $color-neutral-high;
  font-family: $base-font-family;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  &.is-menu-opened {
    overflow: hidden;
  }

  // &__page {
  // }

  // &__footer {
  // }

  &__footer-wrapper {
    @include responsive-wrapper($layout-wrapper-sizes);
    margin: 0 auto;
  }
}
